.hero {
  position: relative;
  width: 99dvw;
  height: 850px;
  overflow: hidden;
}
.hero-bg {
  background-image: url('./img/bg/hero.png');
  background-size: cover;
  background-position: center;
  width: 100dvw;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.hero-content {
  position: relative;
  z-index: 1;
}
.hero-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-shadow: var(--bg-p1) 1px 0 25px;
}
.hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    font-weight: 900;
    line-height: 90%;
    padding-top: 230px;
}
.hero-subtitle {
    font-size: 1.8rem;
    color: var(--orange);
    text-shadow: var(--bg-p1) 1px 0 15px;
}

@media (max-width: 1000px) {
    .hero {
        height: 650px;
    }
    .hero-titles {
        gap: .5rem;
    }
    .hero-title {
        font-size: 6rem;
    }
    .hero-subtitle {
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    .hero {
        height: 550px;
    }
    .hero-title {
        font-size: 4rem;
    }
    .hero-subtitle {
        font-size: 1rem;
    }
}