.about {
    padding: 0 8%;
    margin: 20dvh 0 0 0;
}
.about-founder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.founder {
    h2 {
        font-size: 3rem;
        line-height: 95%;
        margin-bottom: 3dvh;
        color: var(--orange);
    }
    p {
        font-size: 1.2rem;
    }
    a {
        color: var(--font-p3);
        font-weight: 800;
    }
}
.founder-img img{
    height: 550px;
    margin: 0 2.5dvw 0 12dvw;
    border-radius: 95px 40px 40px 95px;
    clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 90%);
}

@media (max-width: 1200px) {
    .founder {
        h2 {
            font-size: 2.6rem;
        }
        p {
            font-size: 1.1rem;
        }
    }
    .founder-img img{
        height: 500px;
        margin: 0 0 0 10dvw;
    }
}

@media (max-width: 1000px) {
    .about {
        padding: 0 8%;
        margin: 15dvh 0 0 0;
        
        text-align: center;
    }
    .about-founder {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .founder {
        h2 {
            font-size: 2rem;
            line-height: 95%;
            margin-bottom: 3dvh;
            color: var(--orange);
        }
        p {
            font-size: .9rem;
        }
    }
    .founder-img img{
        height: 500px;
        margin: 0 0 30px 0;
        border-radius: 30px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    
}
@media (max-width: 600px) {
    .founder-img img{
        height: 350px;
        margin: 0 0 30px 0;
        border-radius: 30px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    
}

.courses {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20dvh 20%;
}
.courses {
    h3 {
        font-size: 3rem;
        line-height: 99%;
        margin-bottom: 3dvh;
        color: var(--orange); 
    }
    p {
        font-size: 1.2rem;
    }
}
.about-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
}
.button-courses {
    margin: 3dvh 0;
    padding: 10px 20px;
    border-radius: 30px;
    background: var(--orange-gx);
    color: var(--font-p1);
    font-size: 1.1rem;
}

@media (max-width: 1200px) {
    .courses {
        padding: 20dvh 16%;
    }
    .courses {
        h3 {
            font-size: 2.6rem;
        }
        p {
            font-size: 1.1rem;
        }
    }
    .button-courses {
        font-size: .9rem;
    }
    
}
@media (max-width: 1000px) {
    .courses {
        padding: 20dvh 8%;
    }
    .courses {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 20dvh 8%;
    }
    .courses {
        h3 {
            font-size: 2rem;
            line-height: 99%;
            margin-bottom: 3dvh;
            color: var(--orange); 
        }
        p {
            font-size: .9rem;
        }
    }
    .about-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .8rem;
        text-align: center;
    }
    .button-courses {
        margin: 4dvh 0;
        padding: 10px 20px;
        border-radius: 30px;
        font-size: .75rem;
        background: var(--orange-gx);
        color: var(--font-p1);
        
    }

}

.join {
    position: relative;
    width: 99dvw;
    height: 850px;
    overflow: hidden;
    text-align: center;
    padding: 0 16%;
}
.join-bg {
  background-image: url('/img/bg/join.png');
  background-size: cover;
  background-position: center;
  width: 100dvw;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.join-content {
  position: relative;
  z-index: 1;
}
.join-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-shadow: var(--bg-p1) 1px 0 25px;
}
.join-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    font-weight: 800;
    line-height: 90%;
    padding-top: 300px;
}
.join-button button {
    margin: 5dvh;
    font-size: 1.8rem;
    font-weight: 800;
    border-radius: 50px;
    padding: 25px 50px;
    color: var(--font-p1);
    background: var(--orange-g-x);
    box-shadow: var(--bg-p1) 1px 0 15px;
}

@media (max-width: 1000px) {
    .join {
        height: 650px;
    }
    .join-titles {
        gap: .5rem;
    }
    .join-title {
        padding-top: 250px;
        font-size: 5rem;
    }
    .join-button button {
        padding: 22px 44px;
        margin: 2dvh;
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    .join {
        height: 550px;
    }
    .join-title {
        padding-top: 230px;
        font-size: 3.3rem;
    }
    .join-button button {
        padding: 18px 36px;
        margin: 1dvh;
        font-size: .8rem;
    }
}

.teachers-content {
    h3 {
        font-size: 3rem;
        line-height: 99%;
        margin-bottom: 3dvh;
        color: var(--orange); 
        text-align: center;
    }
}
.teachers-images {
    display: flex;
    justify-content: center;
    align-items: center;
}
.teacher-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.teacher-image.teacher-1 img {
    margin: 1dvh 2dvw;
    width: 300px;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
    border-radius: 30px 80px 80px 30px ;
}
.teacher-image.teacher-2 img {
    margin: 1dvh 2dvw;
    width: 240px;
    border-radius: 20px;
}
.teacher-image.teacher-3 img {
    margin: 1dvh 2dvw;
    width: 300px;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
    border-radius: 80px 30px 30px 80px ;
}
 /* PARA EL HOVER */
.teacher-image {
    position: relative; 
    overflow: hidden; 
}

.teacher-image img {
    display: block; 
    width: 100%; 
    transition: all 0.4s ease; 
}

.image-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.teacher-image:hover img {
    filter: brightness(0.5);
}

.teacher-image:hover .image-description {
    opacity: 1;
}

.description {
    display: flex;
    flex-direction: column;
    span {
        color: var(--font-p1);
        font-style: italic;
        font-weight: 600;
    }
    a {
        color: var(--font-p1);
        font-style: italic;
    }
}

@media (max-width: 1200px) {
    .teachers {
        padding: 20dvh 8%;
    }
    .teachers-content {
        h3 {
            font-size: 2.6rem;
        }
    }
    .teacher-image.teacher-1 img {
        margin: 0 1.5dvw;
        width: 280px;
        clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
        border-radius: 30px 70px 70px 30px ;
    }
    .teacher-image.teacher-2 img {
        margin: 0 1.5dvw;
        width: 220px;
        border-radius: 20px;
    }
    .teacher-image.teacher-3 img {
        margin: 0 1.5dvw;
        width: 280px;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
        border-radius: 70px 30px 30px 70px ;
    }
}

@media (max-width: 1000px) {
    .teachers-content {
        h3 {
            font-size: 2rem;
            line-height: 99%;
            margin: 6dvh 0;
            color: var(--orange); 
        }
    }
    .teachers-images {
        flex-direction: column;
    }
    .teacher-image.teacher-1 img {
        margin: 1dvw 0;
        width: 350px;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        border-radius: 30px 30px 70px 40px ;
    }
    .teacher-image.teacher-2 img {
        margin: 1dvw 0;
        width: 350px;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
        border-radius: 70px 30px 30px 70px ;
    }
    .teacher-image.teacher-3 img {
        margin: 1dvw 0;
        width: 350px;
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
        border-radius: 30px 70px 30px 30px ;
    }
}

@media (max-width: 600px) {
    .teacher-image.teacher-1 img {
        margin: 1dvw 0;
        width: 240px;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        border-radius: 20px 20px 65px 30px ;
    }
    .teacher-image.teacher-2 img {
        margin: 1dvw 0;
        width: 240px;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
        border-radius: 65px 20px 20px 65px ;
    }
    .teacher-image.teacher-3 img {
        margin: 1dvw 0;
        width: 240px;
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
        border-radius: 20px 65px 20px 20px ;
    }
}

.gallery {
    position: relative;
    width: 99dvw;
    height: 850px;
    overflow: hidden;
    text-align: center;
    padding: 0 8%;
}
.gallery-bg {
  background-image: url('/img/bg/gallery.png');
  background-size: cover;
  background-position: center;
  width: 100dvw;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.gallery-content {
  position: relative;
  z-index: 1;
}
.gallery-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-shadow: var(--bg-p1) 1px 0 25px;
}
.gallery-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    font-weight: 800;
    line-height: 105%;
    padding-top: 300px;
}
.gallery-button button {
    margin: 5dvh;
    font-size: 1.8rem;
    font-weight: 800;
    border-radius: 50px;
    padding: 25px 50px;
    color: var(--font-p1);
    background: var(--orange-g-x);
    box-shadow: var(--bg-p1) 1px 0 15px;
}

@media (max-width: 1200px) {
    .gallery-title {
        padding-top: 250px;
        font-size: 5.8rem;
    }
}
@media (max-width: 1000px) {
    .gallery {
        height: 650px;
    }
    .gallery-titles {
        gap: .5rem;
    }
    .gallery-title {
        padding-top: 250px;
        font-size: 5rem;
    }
    .gallery-button button {
        padding: 22px 44px;
        margin: 2dvh;
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    .gallery {
        height: 550px;
    }
    .gallery-title {
        padding-top: 230px;
        font-size: 3.3rem;
    }
    .gallery-button button {
        padding: 18px 36px;
        margin: 1dvh;
        font-size: .8rem;
    }
}
