header {
    position: sticky;
    top: 0;
    padding: 3.5dvh 7%;
    z-index: 9999;
    background: var(--bg-p1);
    box-shadow: 0 5px 23px var(--bg-p1);
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    height: 30px;
    width: auto;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav-links a {
    color: var(--font-p1);
    font-size: 0.9rem;
    font-weight: 400;
}
.contact {
    padding: 10px 20px;
    border-radius: 30px;
    background: var(--orange);
    color: var(--font-p1);
}
.hamburger {
    display: none;
}

@media (max-width: 1200px) {
    .logo img {
        height: 25px;
    }
    .nav-links {
        gap: 2rem;
    }
    .contact {
        padding: 8px 16px;
    }
}

/* Mobile: menú oculto por defecto */
@media (max-width: 1000px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 5px;
        margin-top: 5px;
        background: var(--bg-p1);
        padding: 1.5rem;
        border-radius: 20px;
        box-shadow: 0px 2px 15px var(--bg-p1);
    }
    .nav.open .nav-links {
        display: flex;
    }
    .hamburger {
        display: block;
    }
    .hamburger img {
        height: 25px;
    }
}

@media (max-width: 600px) {
    .logo img {
        height: 20px;
    }
    .hamburger img {
        height: 20px;
    }
}